<body style="background-color: #FFFBF2">
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="w-100" src="../../../assets/img/carousel-1.jpg" alt="Image">
      <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
        <h2 class="text-primary font-weight-medium m-0">We Have Been Serving</h2>
        <h1 class="display-1 text-white m-0">COFFEE</h1>
        <h2 class="text-white m-0">* SEN VÀNG *</h2>
      </div>
    </div>
    <div class="carousel-item">
      <img class="w-100" src="../../../assets/img/carousel-2.jpg" alt="Image">
      <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
        <h2 class="text-primary font-weight-medium m-0">We Have Been Serving</h2>
        <h1 class="display-1 text-white m-0">COFFEE</h1>
        <h2 class="text-white m-0">* SEN VÀNG *</h2>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container-fluid py-5">
  <div class="container">
    <div class="section-title">
      <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">VỀ CHÚNG TÔI</h4>
      <h1 class="display-4">Phục Vụ Từ Năm 1950</h1>
    </div>
    <div class="row">
      <div class="col-lg-4 py-0 py-lg-5">
        <h1 class="mb-3">Câu chuyện của chúng ta</h1>
        <h5 class="mb-3">Đối với mỗi người, thời sinh viên có lẽ không nhiều người có kỷ niệm về cafe. Đối với tôi, kỷ niệm về cà phê có lẽ là những lần họp team làm bài tập nhóm. Sự gắn kết của những con người chỉ biết nhau trên giảng đường được khắng khít hơn qua những ly cà phê.

          Mỗi một môn học mới, tôi lại có những người bạn mới, nhóm mới. Rồi làm bài nhóm thì vẫn hẹn nhau ra những quán cafe, ngồi lỳ trong đó từ sáng đến tối, chỉ để làm xong phần bài tập. Xong môn học, chẳng có ai nhớ đến nó nữa vì mục đích cũng đã xong.</h5>
        <p>Sau này, khi về thăm thầy giáo cũ, gặp lại những gương mặt thân quen, bao kỷ niệm như ùa về. Cuộc sống mà, chắc chắn sẽ có người này, người kia, hiện trạng mỗi người cũng khác nhau. Người chạy xe hơi, người vẫn xe máy cà tàng thời sinh viên. Nhưng đa phần, các bạn đều có công ăn, việc làm ổn định.

          Cái gì đến cũng sẽ đến. Cuộc trò chuyện trở nên căng thẳng khi mọi người bắt đầu phàn nàn về những điều mình gặp trong cuộc sống. Chỉ có thầy giáo là ngồi im và lắng nghe về những điều đó. Sau đó, thầy quyết định mời tất cả mọi người đến quán cafe cốc trước ngõ để giải toả căng thẳng.</p>
        <a href="" class="btn btn-secondary font-weight-bold py-2 px-4 mt-2">
          Tìm hiểu thêm</a>
      </div>
      <div class="col-lg-4 py-5 py-lg-0" style="min-height: 500px;">
        <div class="position-relative h-100">
          <img class="position-absolute w-100 h-100" src="../../../assets/img/about.png" style="object-fit: cover;">
        </div>
      </div>
      <div class="col-lg-4 py-0 py-lg-5">
        <h1 class="mb-3">Tầm nhìn của chúng tôi</h1>
        <p>Tại Xưởng cà phê, chúng tôi hiểu rằng cà phê không chỉ là một công cụ giúp bạn tỉnh táo. Đó là một món quà từ Thượng Đế có nghĩa là để được tận hưởng!

          Chúng tôi hiểu rằng mỗi người có một bảng hương vị khác nhau. Đó là lý do tại sao chúng tôi là nhà rang xay tùy chỉnh va rang từ sáng, trung bình, tối từng loại cà phê. Vui lòng cho phép chúng tôi giúp bạn tìm loại cà phê phù hợp với bạn.

          Chúng tôi tin tưởng vào sự cải tiến liên tục vì vậy chúng tôi luôn theo đuổi những hạt cà phê tuyệt vời nhất được trồng tại Việt Nam.

          Niềm đam mê của chúng tôi là tiếp cận 800 hương vị tiềm năng được tìm thấy trong cà phê.</p>
        <h5 class="mb-3"><i class="fa fa-check text-primary mr-3"></i>Trở thành nhà cung cấp các giải pháp đồ uống chất lượng hàng đầu , tạo ra xu thế và văn hoá thưởng thức trong môi trường làm việc hiện đại </h5>
        <h5 class="mb-3"><i class="fa fa-check text-primary mr-3"></i>Trở thành nhà cung cấp cafe - kakao chất lượng uy tín hàng đầu Việt Nam. </h5>
        <h5 class="mb-3"><i class="fa fa-check text-primary mr-3"></i>Trở thành thương hiệu quen thuộc, được người tiêu dùng trong nước và quốc tế yêu thích và tin cậy</h5>
        <a href="" class="btn btn-secondary font-weight-bold py-2 px-4 mt-2">
          Tìm hiểu thêm</a>
      </div>
    </div>
  </div>
</div>


<div class="container col-md-12 d-flex mt-5" style="border-bottom: #efbe29 5px solid">
  <div class=" col-md-12">
    <h1 style ="margin-left: 50px">DANH SÁCH THỰC ĐƠN</h1>
  </div>
</div>
<nav class="navbar">
  <div class=" container-fluid">
    <div class="navbar-brand">
    </div>

    <div class="navbar-brand d-flex" style="margin-right: 70px ">
      <input #name (change)="search(name.value)" class="form-control me-2"  type="search" placeholder="Tìm kiếm tên thực đơn"
             aria-label="Search">
      <button (click)="search(name.value)" class="btn btn-outline-success" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
      </svg>
      </button>
    </div>
  </div>
</nav>
<div class="container">
  <div class="section-title">
    <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">THỰC ĐƠN & GIÁ</h4>
  </div>
  <div class="wrapper" >
    <ul class="products">
      <li *ngFor="let product of productList">
        <div class="product-item">
          <div class="product-top">
            <a href="" class="product-thumb">
              <img [src]="product.img" style="border: #f5c833 solid">
              <a class="buy-now" data-toggle="modal" routerLink="cart/detail" data-target="#detail">Mua ngay</a>

            </a>
          </div>
        </div>
        <div class="product-info">
          <a href="" class="product-cart"></a>
          <a href="" class="product-name">{{product.name | titlecase | slice: 0 :20 }}<span
            style="background-color: lightgray;color: #007bff;font-weight: 600"
            *ngIf="product.name.length > 20">.....</span></a>
          <div class="product-price">{{product.price.toLocaleString(
            "vi-VN",
            { style: "currency", currency: "VND" }
          )}}</div>
        </div>
      </li>
    </ul>
  </div>
</div>


<div class="container col-md-12 d-flex mt-5" style="border-bottom: #efbe29 5px solid">
  <div class=" col-md-12">
    <h1 style ="margin-left: 50px">ĐƯỢC MUA NHIỀU NHẤT</h1>
  </div>
</div>
<br>
<div class="container">
  <div class="section-title">
    <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">THỰC ĐƠN & GIÁ</h4>
  </div>
  <div class="wrapper" >
    <ul class="products">
      <li *ngFor="let product of productList">
        <div class="product-item">
          <div class="product-top">
            <a href="" class="product-thumb" >
              <img [src]="product.img" style="border: #f5c833 solid">
              <a class="buy-now" data-toggle="modal"  routerLink="cart/detail" data-target="#detail">Mua ngay</a>

            </a>
          </div>
        </div>
        <div class="product-info">
          <a href="" class="product-cart"></a>
          <a href="" class="product-name">{{product.name | titlecase | slice: 0 :20 }}<span
            style="background-color: lightgray;color: #007bff;font-weight: 600"
            *ngIf="product.name.length > 20">.....</span></a>
          <div class="product-price">{{product.price.toLocaleString(
            "vi-VN",
            { style: "currency", currency: "VND" }
          )}}</div>
        </div>
      </li>
    </ul>
  </div>
</div>


<div class="container-fluid pt-5">
  <div class="container">
    <div class="section-title">
      <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">DỊCH VỤ CỦA CHÚNG TÔI</h4>
      <h1 class="display-4">Đậu tươi & hữu cơ</h1>
    </div>
    <div class="row">
      <div class="col-lg-6 mb-5">
        <div class="row align-items-center">
          <div class="col-sm-5">
            <img class="img-fluid mb-3 mb-sm-0" src="../../../assets/img/service-1.jpg" alt="">
          </div>
          <div class="col-sm-7">
            <h4><i class="fa fa-truck service-icon"></i>
              Giao hàng tận nơi nhanh nhất</h4>
            <p class="m-0">Dịch vụ giao hàng tận nơi của Nhất Tín Logistics là loại hình giao hàng tận tay khách hàng theo địa chỉ đơn hàng đã khai báo trước đó. Đây là hình thức giao hàng được đông đảo người dùng lựa chọn vì sự tiện lợi mang nó mang lại.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-5">
        <div class="row align-items-center ">
          <a class="col-sm-5" href="cart/detail">
            <img class="img-fluid mb-3 mb-sm-0" src="../../../assets/img/service-2.jpg" alt="">
          </a>
          <div class="col-sm-7">
            <h4><i  class="fa fa-coffee service-icon"></i>
              Hạt cà phê tươi</h4>
            <p class="m-0">Cafe tươi – hay cách gọi khác là cafe rang xay – là loại cafe được tạo nên bởi hạt cafe nguyên chất, không kèm theo bất kỳ chất phụ gia nào khác. Trước đây, cafe tươi chỉ xuất hiện ở những vùng chuyên trồng cafe hoặc được mua theo sở thích của một vài người yêu vị cafe tự nhiên.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-5">
        <div class="row align-items-center">
          <div class="col-sm-5">
            <img class="img-fluid mb-3 mb-sm-0" src="../../../assets/img/service-3.jpg" alt="">
          </div>
          <div class="col-sm-7">
            <h4><i class="fa fa-award service-icon"></i>Cà Phê Chất Lượng Tốt Nhất</h4>
            <p class="m-0">Ở mức độ chuyên nghiệp, các chuyên gia của Hiệp Hội Cà Phê Đặc Sản Quốc Tế (SCA) hoặc Viện Cà Phê Chất Lượng (CQI) sẽ sử dụng một bảng hồ sơ (cupping form) để phân tích từng yếu tố của cà phê khi muốn đánh giá hạt thông qua quy trình thử nếm cà phê (Cupping). Đây là phương pháp đánh giá chất lượng hạt cà phê, hồ sơ rang một chính xác, hiệu quả nhất. Bài viết này dựa vào các tiêu chí đó để tìm hiểu cách đánh giá cà phê.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-5">
        <div class="row align-items-center">
          <div class="col-sm-5">
            <img class="img-fluid mb-3 mb-sm-0" src="../../../assets/img/service-4.jpg" alt="">
          </div>
          <div class="col-sm-7">
            <h4><i class="fa fa-table service-icon"></i>Đặt bàn trực tuyến</h4>
            <p class="m-0">Trong thời kì công nghệ thông tin bùng nổ như hiện nay, khái niệm đặt bàn trực tuyến Booking Online đã không còn quá xa lạ đối với nhiều người, tuy nhiên vào những ngày nghỉ lễ, cuối tuần, lượng khách đến ăn uống tại các nhà hàng, đặc biệt ở các thành phố lớn luôn tăng cao đột biến, thậm chí tình trạng không còn bàn trống diễn ra thường xuyên.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
