.display-4 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
}
h1, h2, .font-weight-bold {
  font-weight: 700 !important;
}
.section-title {
  position: relative;
  padding: 115px 0 35px 0;
  text-align: center;
}

.section-title::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 100px;
  top: 0;
  left: 50%;
  margin-left: 1px;
  background: #DA9F5B;
}
.carousel-caption {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(51,33,29,0.7);
  z-index: 1;
}
.display-1 {
  font-size: 8rem;
  font-weight: 300;
  line-height: 1.2;
}
.text-primary {
  color: #DA9F5B !important;
}
