<div _ngcontent-fbc-c38="" class="container-fluid py-5">
  <div _ngcontent-fbc-c38="" class="row px-xl-5">
    <div _ngcontent-fbc-c38="" class="col-lg-5 pb-5">
      <div _ngcontent-fbc-c38="" id="product-carousel" data-ride="carousel" class="carousel slide">
        <div _ngcontent-fbc-c38="" class="carousel-inner border">
          <div _ngcontent-fbc-c38="" class="carousel-item active ng-star-inserted">
          </div><!---->
          <div _ngcontent-fbc-c38="" class="carousel-item ng-star-inserted"><img _ngcontent-fbc-c38=""
                                                                                 alt="Image">
          </div>
          <img src="../../../assets/img/menu-1.jpg"  class="w-100 h-100"/>
          <!----></div>
        <a _ngcontent-fbc-c38="" href="#product-carousel" data-slide="prev" class="carousel-control-prev"><i
          _ngcontent-fbc-c38="" class="fa fa-2x fa-angle-left text-danger"></i></a><a
        _ngcontent-fbc-c38="" href="#product-carousel" data-slide="next" class="carousel-control-next"><i
        _ngcontent-fbc-c38="" class="fa fa-2x fa-angle-right text-danger"></i></a></div>
    </div>
    <div _ngcontent-fbc-c38="" class="col-lg-7 pb-5"><h3 _ngcontent-fbc-c38="" class="font-weight-semi-bold">Coffee With Milk</h3>
      <div _ngcontent-fbc-c38=""><p _ngcontent-fbc-c38="" class="mr-2"
                                    style="font-weight: bold; color: dodgerblue;"> Trung Nguyên Coffee </p></div>
      <h3 _ngcontent-fbc-c38="" class="font-weight-semi-bold mb-4 text-danger ng-star-inserted">18,800 VNĐ</h3>
      <!----><!----><p _ngcontent-fbc-c38="" class="mb-4 overflow-auto"
                       style="height: 206px; border: 1px solid gray; padding: 20px;">Cho sữa vào cốc trong lò vi sóng vài giây trước khi cho cà phê vào! Có một cây đũa hơi trên máy của bạn và thích một loại cà phê sữa cổ điển, như latte hoặc cappuccino? Lý tưởng nhất là bạn muốn sữa ở nhiệt độ trong khoảng 60-70°C (140-160°F) - đây là nhiệt độ tối ưu để mang lại vị ngọt tự nhiên của sữa.</p>
      <div _ngcontent-fbc-c38="" class="d-flex align-items-center mb-4 pt-2 ng-star-inserted">
        <!-- <span>Số lượng :  </span>
         <input class="form-control-md4" type="number">-->
        <button _ngcontent-fbc-c38="" class="btn px-3 text-white" style="background-color: #007bff;"><i
          _ngcontent-fbc-c38="" class="fa fa-shopping-cart mr-1 text-white"></i> Thêm vào giỏ hàng
        </button>
      </div><!----></div>
  </div>
</div>
