<section _ngcontent-fbc-c43="">
  <div _ngcontent-fbc-c43="" class="container-fluid py-5 h-100">
    <div _ngcontent-fbc-c43="" class="row d-flex justify-content-center align-items-center h-100">
      <div _ngcontent-fbc-c43="" class="col-12">
        <div _ngcontent-fbc-c43="" class="card card-registration card-registration-2"
             style="border-radius: 15px;">
          <div _ngcontent-fbc-c43="" class="card-body p-0">
            <div _ngcontent-fbc-c43="" class="row g-0">
              <div _ngcontent-fbc-c43="" class="col-lg-8">
                <div _ngcontent-fbc-c43="" class="p-5">
                  <div _ngcontent-fbc-c43=""
                       class="d-flex justify-content-between align-items-center mb-5"><h1
                    _ngcontent-fbc-c43="" class="fw-bold mb-0 text-black">Giỏ hàng của bạn</h1>
                    <h6 _ngcontent-fbc-c43="" class="mb-0 text-muted">2 sản phẩm</h6></div>
                  <hr _ngcontent-fbc-c43="" class="my-4">
                  <div _ngcontent-fbc-c43="" class="ng-star-inserted">
                    <div _ngcontent-fbc-c43=""
                         class="row mb-4 d-flex justify-content-between align-items-center">
                      <div _ngcontent-fbc-c43="" class="col-md-1 col-lg-1 col-xl-1" tabindex="0">
                        <img _ngcontent-fbc-c43="" width="50" height="50" alt=""
                             class="rounded-3"
                             src="../../../assets/img/menu-1.jpg">
                      </div>
                      <div _ngcontent-fbc-c43="" class="col-md-4 col-lg-4 col-xl-4" tabindex="0">
                        <h6 _ngcontent-fbc-c43="" class="text-black mb-0">Black Coffee</h6>
                        <p _ngcontent-fbc-c43="" class="text-danger">14,800 VNĐ</p>
                        </div>
                      <!--  <div _ngcontent-fbc-c43="" class="col-md-2 col-lg-2 col-xl-1 d-flex">
                            <div _ngcontent-fbc-c43="" id="buy-amount">
                                <button _ngcontent-fbc-c43=""><i _ngcontent-fbc-c43=""
                                                                 class="fas fa-minus text-primary"></i>
                                </button>
                                <input _ngcontent-fbc-c43="" id="amount" type="text">
                                <button _ngcontent-fbc-c43=""><i _ngcontent-fbc-c43=""
                                                                 class="fas fa-plus text-primary"></i>
                                </button>
                            </div>
                        </div>-->
                      <div _ngcontent-fbc-c43=""
                           class="col-md-4 col-lg-3 col-xl-3 offset-lg-1 text-right"
                           style="width: 150px;"><p _ngcontent-fbc-c43=""
                                                    class="mb-0 text-danger">14,800 VNĐ</p></div>
                      <div _ngcontent-fbc-c43="" class="col-md-1 col-lg-1 col-xl-1 text-end"><a
                        _ngcontent-fbc-c43="" class="text-muted"><i _ngcontent-fbc-c43=""
                                                                    class="fas fa-times"></i></a>
                      </div>
                    </div>
                    <hr _ngcontent-fbc-c43="" class="my-4">
                  </div>
                  <div _ngcontent-fbc-c43="" class="ng-star-inserted">
                    <div _ngcontent-fbc-c43=""
                         class="row mb-4 d-flex justify-content-between align-items-center">
                      <div _ngcontent-fbc-c43="" class="col-md-1 col-lg-1 col-xl-1" tabindex="0">
                        <img _ngcontent-fbc-c43="" width="50" height="50" alt=""
                             class="rounded-3"
                             src="../../../assets/img/menu-2.jpg">
                      </div>

                      <div _ngcontent-fbc-c43="" class="col-md-4 col-lg-4 col-xl-4" tabindex="0">
                        <h6 _ngcontent-fbc-c43="" class="text-black mb-0">Chocolete Coffee</h6>
                        <p _ngcontent-fbc-c43="" class="text-danger">25,600 VNĐ</p>
                        </div>

                      <div _ngcontent-fbc-c43=""
                           class="col-md-4 col-lg-3 col-xl-3 offset-lg-1 text-right"
                           style="width: 150px;"><p _ngcontent-fbc-c43=""
                                                    class="mb-0 text-danger">25,600 VNĐ</p></div>
                      <div _ngcontent-fbc-c43="" class="col-md-1 col-lg-1 col-xl-1 text-end"><a
                        _ngcontent-fbc-c43="" class="text-muted"><i _ngcontent-fbc-c43=""
                                                                    class="fas fa-times"></i></a>
                      </div>
                    </div>
                    <hr _ngcontent-fbc-c43="" class="my-4">
                  </div><!----><!---->
                  <div _ngcontent-fbc-c43="" class="pt-5"><h6 _ngcontent-fbc-c43="" class="mb-0"><a
                    _ngcontent-fbc-c43="" routerlink="/product" class="text-body"
                    href=""><i _ngcontent-fbc-c43=""
                                               class="fas fa-long-arrow-alt-left me-2"></i> Quay lại
                    trang sản phẩm</a></h6></div>
                </div>
              </div>
              <div _ngcontent-fbc-c43="" class="col-lg-4 bg-grey">
                <div _ngcontent-fbc-c43="" class="p-3"><h3 _ngcontent-fbc-c43=""
                                                           class="fw-bold mb-5 mt-2 pt-1 text-center">
                  Thanh toán</h3>
                  <hr _ngcontent-fbc-c43="" class="my-4">
                  <div _ngcontent-fbc-c43="" class="d-flex justify-content-between mb-4"><h5
                    _ngcontent-fbc-c43="">Tổng tiền hàng</h5><h5 _ngcontent-fbc-c43=""
                                                                 class="text-danger ng-star-inserted">
                    40,400 VNĐ</h5><!----></div>
                  <div _ngcontent-fbc-c43="" class="d-flex justify-content-between mb-4"><h5
                    _ngcontent-fbc-c43="">Tiền phí vận chuyển</h5><h5 _ngcontent-fbc-c43=""
                                                                      class="text-danger ng-star-inserted">
                    Miễn phí</h5><!----></div>
                  <hr _ngcontent-fbc-c43="" class="my-4">
                  <div _ngcontent-fbc-c43="" class="d-flex justify-content-between mb-5"><h5
                    _ngcontent-fbc-c43="">Tổng thanh toán</h5><h5 _ngcontent-fbc-c43=""
                                                                  class="text-danger ng-star-inserted">
                    40,400 VNĐ</h5><!----></div>
                  <button _ngcontent-fbc-c43="" type="button" data-mdb-ripple-color="dark"
                          class="btn btn-primary btn-block btn-lg">Tiến hành thanh toán
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
